
@font-face {
	font-family: "Evolventa";
	src: url("../fonts/Evolventa-Regular.ttf");
}

@font-face {
	font-family: "Felidae";
	src: url("../fonts/Felidae.ttf");
}

@font-face {
	font-family: "Gropled";
	src: url("../fonts/Gropled-Bold.otf");
}

@font-face {
	font-family: "GT";
	src: url("../fonts/GT-Eesti-Display-Regular-Trial.otf");
}


@font-face {
	font-family: "Tovari";
	src: url("../fonts/tovari-sans.otf");
}

@font-face {
	font-family: "Vetrino";
	src: url("../fonts/Vetrino.otf");
}
